*{
    padding: 0;
    margin: 0;
    /* font-family: "Lato", sans-serif;   */
    font-weight: 300;
    overflow-y: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}
header{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-shadow: 0;
   
}
nav{
    margin: 0;
    /* margin-left: 14px; */
    /* background-color: black; */
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: 0;
    padding: 0;
}
#main-div{
    display: flex;
    /* height: 555px; */
    height: 100vh;
    margin-top: 7px;
}
#left-div img{
    /* position:absolute; */
    /* left: 0; */
    /* top: 0; */
    /* height:100%;
    width: inherit; */
/* flex-grow: 1; */
    /* z-index: -1; */
    /* margin: 0; */
    /* float: left; */
    /* max-width: 100%; */
    /* max-height: 100vh; */
    /* display: block; */
    /* object-fit:contain; */
    /* width:max-content; */
    /* object-fit:fill; */
    /* margin-top: -20%; */
    /* margin-left: -20%; */
    width:40%;
            height: 100vh;
            z-index: -1;
            position:absolute;
    
}
#left-div{
    /* flex-grow: 4; */
    /* z-index: -1; */
    /* display: flex; */
    /* width: 40%; */
    width:40%;
    height: 100vh;
    z-index: 1;
    /* background-image: url("./assets/Group\ 20.png"); */
    /* background-size:600px 100vh; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position:unset; */
    /* background-size:cover; */
    /* opacity:1; */
    /* height: ; */

    /* padding: 3% 2% 2% 2%; */
    /* background-color: #c9344c; */
    /* box-sizing: border-box; */
}
#inner-div{
    /* top: 0; */
    /* position: absolute; */
      /* margin-top: 10%; */
    /* z-index: 1000000; */
    /* margin: inherit; */
    padding: 7%;
}
#right-div{
    /* width: 60%; */
    /* flex-grow: 10 ; */
    /* padding: 2%; */
    margin-top: 20px;
    margin-left: 20px;
    width:60%;
    height: 100vh;
    margin-right: 0px;
}

.content{
    width: 350px;
    margin-bottom: 24px;
}

label{
    color:#e8dee2;
    font-weight:2px;
    font-size: 22px;
}
input{
    margin: 0 !important;
    border: 0 !important;
}
.inputs{
   width: 240px !important;
   height: 25px !important;
   padding: 2px 16px 2px 16px !important;
   background-color: #dd8493 !important;
   border-width: 0px !important;
   border-color: #321633 !important;
   border-radius: 2px !important;
   margin: 6px 5px 5px 0 !important; 
   /* box-shadow: 5px -2px 15px 1px  #9c1424 !important  ; */
   color:#e8dee2!important;
   
}
.acontent {
    margin-top: -12px!important ;
    margin-bottom: 25px;
}
.inputs::placeholder{
    color:#e8dee2; ;
}

/* #yourID{
    width: 220px;  
} */
.btns{
    width: 124px;
    height: 30px;
   border-width: 0px;
   text-align: center;
   padding: 5px 10px;
   margin: 5px 2px 2px 2px;
   background-color:#321633;
   box-shadow: 2px 3px 2px 1px #7e3347 ;
   font-size: 14px;

}
.btns:focus{
   background-color:#4d224e;

}

a{
    color:#e8dee2;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    margin-left: 0px;
    margin-bottom: 7px;
    margin-top: 2px;
    font-weight: normal;
    font-size: 30px;
}
h2{
    margin-left: 0px;
    margin-bottom: 0px;
         /* margin-top: 12px; */
    font-weight: normal;
    font-size: 24px;
}
p{
    font-size: 15px;
}
.text-color{
    color:#e8dee2;
}
.text-color-dark{
    color: #321633;  
    font-weight: 600  ;
}

#right-div >h2{
    margin-top: 10px;
    margin-bottom: 10px;
    
}


.mb{
    margin-bottom: 8px;
}
.iconactive{
    color:lawngreen
}
.iconinactive{
    color: red;
}
.dropdown-content a {
    text-decoration: none;
    color:#321633 !important; 
}
.dropdown-content li {
    color:#321633; 
}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */