* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-weight: bolder;
    background:silver;
    font-size: 20px;
}

.code {
    padding: 2px;
    text-align: center;
    color:black;
    font-size: 20px;
    /* background-color: tomato; */
}

.container { display: grid; }

.btn {
    /* border: 0; */
    /* background: #4148ae; */
    /* color: white; */
    padding: 2%;
    width: 20%;
    /* background-color: aqua; */
    font-size: 16px;
    position: center;
}

#stop {display: none;}